# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/.symlinks/
ios/Pods/

# IDE
.idea/
.vscode/
*.swp
